section.home.projects {
  margin-top: 5rem;

  padding: 5rem 1rem 5rem 1rem;
}

.project .text-container .text-col > * + * {
  margin-top: 1rem;
}

.project .text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1064px) {
  .project .text-container {
    justify-content: center;
    align-items: center;
    order: 2;
    margin-top: 2rem;
  }

  .project .text-container .text-col {
    text-align: center;
  }
}

.project.flipped .text-container {
  justify-content: flex-end;
}

@media screen and (max-width: 1064px) {
  .project.flipped .text-container {
    justify-content: center;
  }
}

.project .text-col h3 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1rem;
}

@media screen and (max-width: 1064px) {
  .project .text-col h3 {
    display: none;
  }
}

.project .text-col h1 {
  color: #f7f8f8;
  letter-spacing: -0.04rem;
  line-height: 1.2em;
  font-size: 2.8rem;
}

.project.qgit .text-col h3 {
  background-image: linear-gradient(90.47deg, #d5344d -16.27%, #ad2570 114.23%);
}

#ass {
  position: fixed;
}

.project .image-shell {
  position: relative;
}

@media screen and (max-width: 1064px) {
  .project .image-shell {
    width: 750px;
    height: 439px;
  }
}

.project.flipped .image-shell {
  order: -1;
}

.project.flipped .image-shell .image-container {
  left: auto;
  right: 0;
}

@media screen and (max-width: 1064px) {
  .project.flipped .image-shell .image-container {
    left: 50%;
    margin-left: -375px;
    right: auto;
  }
}

.projects .image-container {
  position: absolute;
  top: 0;
  left: 0;
}

.project + .project {
  margin-top: 15rem;
}

.project.row {
  height: 591px;
}

@media screen and (max-width: 1064px) {
  .project.row {
    height: auto;
  }
}
/* 
adjust this for new images in the future */

.project .image-container {
  width: 1008px;
  height: 591px;
}

@media screen and (max-width: 1064px) {
  .project .image-container {
    width: 750px;
    height: 439px;
    left: 50%;
    margin-left: -375px;
  }
}

@media screen and (min-width: 1200px) {
  .project .image-container[data-isclicked="true"] {
    position: fixed;
    top: 2rem;
    left: 50%;
    margin-left: -573.93px;
    width: 1147.86px;
    height: 673px;
    z-index: 1000000;
  }

  .project.flipped .image-container[data-isclicked="true"] {
    position: fixed;
    top: 2rem;
    left: 50%;
    margin-left: -573.93px;
    width: 1147.86px;
    height: 673px;
    z-index: 1000000;
  }
}

/* this fixed a bug where projects with flipped class were flown out into some faraway ass. fuck framer */

@media screen and (max-width: 1064px) {
  .project .image-container[data-isclicked="true"] {
    opacity: 0;
  }
  .project.flipped .image-container[data-isclicked="true"] {
    opacity: 0;
  }
}

.project .project-curtain {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 1500px;
  height: 1500px;
  background-color: black;
}
/* 
.project .project-curtain[data-isclicked="true"] {
  display: block;
  top: 0;
  opacity: 1;
} */
